@import url("https: //fonts.googleapis.com/css2?family=Gentium+Plus");

h1{
  text-align: center;
}

/* h2,h3,h4,p{
  margin:0;
  padding: 5px;
} */
p{
  padding: 0 15px;
  text-align: justify;
}

body{
  background-color: #e7f3fe;
  font-family: 'Gentium Plus', serif;
  font-size: 18px;
}


img{
  /* object-fit: cover; */
  /* border: 5px solid red; */
}

.logo{
  width: 1000px;
  max-width: 100%;
  background: rgb(10, 0, 181);
  background: linear-gradient(90deg, rgba(10, 0, 181, 1) 0%, rgba(0, 119, 192, 1) 47%, rgba(0, 212, 255, 1) 100%);
}
.container{
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  /* background-color: #cce6ff; */
  /* background-color: #92B4EC; */
}


.banner{
  max-width: 100%;
  max-height: 100%;
}

ul {
 list-style-type: none; 
 padding: 0;
 margin: 0;
 
}

li::after{
  /* padding-top: 10px;
  padding-bottom: 10px; */
  margin-bottom: 15px;
}

li {
  /* background-color: #80c1ff; */
  /* background-color: #FFE69A; */
  /* background-color: #FFFBE7; */
  /* background-color: #ccf6ff; */
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  /* background-color: white; */
  /* border-radius: 15px; */
  margin-bottom: 10px;
  /* border: 5px solid red; */
}

.li-div{
  /* border-radius: 15px; */
  /* border: 5px solid black; */
  margin-bottom: 25px;
  
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1%;
  /* background-color: springgreen; */
  padding: 10px;
}
.grid-item{
  padding: 2%;
  height: 100%;
}

/* .grid-container > li{
  padding: 20px 0;
} */

@media only screen and (max-width: 720px) {
  body {
    font-size: 16px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0.5%;
    /* background-color: springgreen; */
    padding: 10px;
  }

}